body { background-image: url("tile.gif"); color: #000000; width:600px;}
h1 { padding-right: 50px;}
h2 { padding-left: 50px; padding-right: 50px;}
p {font-family: Arial; font-size: 14px; padding-left: 50px; padding-right: 50px;}
strong {font-size: 22px; padding-left: 50px; padding-right: 50px;}

    